@using MarketplaceMVC.Models
@using MarketplaceMVC.Tags

@model MarketplaceMVC.Models.MarketplaceValue

@{
    ViewData["Title"] = "Marketplace";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<marketplace link="https://github.com/itis-anete/Marketplace"></marketplace>

@Html.MarketplaceButton(@Model)

<h4>@Model.Value</h4>
