@using Cannabis.HtmlHelpers
@{
	ViewData["Title"] = "TestTestTest";
}

<h2>@ViewData["Title"]</h2>

<cannabis link="https://github.com/itis-anete/MVC"></cannabis><br />

@Html.CannabisButton(new CannabisValue("HEEEEELP"))

<h4>@Model</h4>