@model MarketplaceMVC.Models.MarketplaceModel

@{
    ViewData["Title"] = "Marketplace";
}

<h2>@ViewData["Title"]</h2>

<marketplace link="https://github.com/itis-anete/Marketplace"></marketplace>

@Html.MarketplaceButton(@Model)

<h4>@Model.Age</h4>
